@model ElectricTests.Model.UnformattedDocument
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@{
	ViewBag.Title = "Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dokumento įkelimas</h2>
@using (Html.BeginForm()) {
	<fieldset>
		<legend>Įkelimo forma</legend>
		@Html.ValidationSummary()
		<p>Dokumento pavadinimas</p>
		<div>
			@Html.EditorFor(model => model.Title)
		</div>
		<p>Dokumento tekstas</p>
		<div>
			@Html.EditorFor(model => model.Text)
		</div>
		
		<div class="left">
			@Html.EditorFor(model => model.WithSections)
		</div>
		<p>Ar dokumentas turi skyrius?</p>
		<input type="submit" value="Įkelti dokumentą" class="button"/>
	</fieldset>
}
<div>
	@Html.ActionLink("Grižti į dokumentų sąrašą", "Index")
</div>
