@model List<ElectricTests.Model.FormattedDocument>
@Scripts.Render("~/Scripts/jquery-1.9.1.js")
@Scripts.Render("~/Content/javascripts/Paragraph/addQuestion.js")
@Scripts.Render("~/Content/javascripts/foundation.min.js")
@{
	ViewBag.Title = "Dokumentai";
}
@section featured {
	<section class="twelve columns">
		<hr/>
		<p>Šitame skyriuje rasite normatyvinius aktus, taisykles ir tvarkas. Taip pat čia galite užduoti klausimą tam tikram taisyklių punktui. Norint užduoti klausimą reikia užeiti į vieną iš žemiau išvardintų dokumentų, pelytės pagalba atsistoję ant vieno iš taisyklės punkto dešynėje pusėje pamatysite ženkliuką su pliusu, paspaudus jį į galite užduoti klausimą būtent dėl jūsų pasirento punkto. Arba galite <a href="javascript:openFormWithoutParagraph()">čia</a> užduoti klausimą nesusijusį su šitais dokumentais.</p>
		@foreach(var document in Model) {
			@Html.ActionLink(document.Title, "Details", new { id=document.Id })<br/>
		}
		<hr/>
		@if (Request.IsAuthenticated) { 
			@Html.ActionLink("Prideti dokumentą", "Add")
		}
	</section>
}
@{ Html.RenderPartial("_AddQuestionFormWithoutParagraph", new Question()); }
@{ Html.RenderPartial("_infoMessageWindow", 
	   "Jūsų klausimas išsaugotas duomenų bazėje. Po administratoriaus patikrinimo jis bus pridėtas prie testavimo."); }