@model Question
<div id="addQuestionForm" class="reveal-modal xlarge">
	@using (Html.BeginForm()) {
		@Html.ValidationSummary(true)

		<fieldset>
			<h6>Taisyklės punktas, kuris bus parodytas kaip paaiškinimas jeigu žmogus padarys klaidą atsakydamas į jūsų klausimą.</h6>
			<div id="formParagraphText"></div>
			<legend>Įveskite klausimą ir atsakymo variantus</legend>
			Klausimas
			<div>
				@Html.TextAreaFor(model => model.Title, new {rows = 4})
				@Html.ValidationMessageFor(model => model.Title)
			</div>
			Pirmas atsakymo variantas (teisingas)
			<div>
				@Html.TextAreaFor(model => model.Option1, new {rows = 4})
				@Html.ValidationMessageFor(model => model.Option1)
			</div>
			Antras atsakymo variantas (neteisingas)
			<div>
				@Html.TextAreaFor(model => model.Option2, new {rows = 4})
				@Html.ValidationMessageFor(model => model.Option2)
			</div>
			Trečias atsakymo variantas (neteisingas, nebūtinas)
			<div>
				@Html.TextAreaFor(model => model.Option3, new {rows = 4})
				@Html.ValidationMessageFor(model => model.Option3)
			</div>
			Ketvirtas atsakymo variantas (neteisingas, nebūtinas)
			<div>
				@Html.TextAreaFor(model => model.Option4, new {rows = 4})
				@Html.ValidationMessageFor(model => model.Option4)
			</div>
			@Html.HiddenFor(model => model.FormattedDocumentId)
			@Html.HiddenFor(model => model.ParagraphId)
			<input value="Įkelti klausymą" class="button" onclick="validateAndSendObject($('form').serialize(), false);"/>
            <input value="Test" class="button" onclick="modal();"/>
		</fieldset>
	}		
	<a class="close-reveal-modal">x</a>
</div>
<script type="text/javascript">
	function sendQuestion(question) {
		$.ajax({
			url: '@Url.Action("Add", "Questions")'
		, type: 'POST'
		, data: question
		, success: function (savedToDB) {
		    $("#addQuestionForm").reveal();
			$("#infoMessageWindow").reveal();
		}
	});
	}

    function modal() {
        $("#addQuestionForm").reveal();
        $("#infoMessageWindow").show();
    }
</script>