@model ElectricTests.Model.Test
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@{
	ViewBag.Title = "Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testo kūrimas</h2>
@using (Html.BeginForm()) {

	<fieldset>
		<legend>Testo įvedimo forma</legend>
        @Html.ValidationSummary()
		<p>Testo pavadinimas</p>
		<div>
			@Html.EditorFor(model => model.Title)
		</div>
		<p>Klausymų skaičius vienam kartui</p>
		<div>
			@Html.EditorFor(model => model.OneTestQuestionsNumber)
		</div>

		<p>Ar matomas svetainės lankytojams?</p>
		<div>
			@Html.EditorFor(model => model.IsAvaible)
		</div>
			<input type="submit" value="Sukurti testą" class="button"/>
	</fieldset>
}

<div>
	@Html.ActionLink("Į testų sąrašą", "Index")
</div>
