@model ElectricTests.Model.Test
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
@Scripts.Render("~/Content/javascripts/foundation.min.js")
@Scripts.Render("~/Content/javascripts/jquery.foundation.alerts.js")
@{
	ViewBag.Title = "AddQuestions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	@Html.ValueFor(t => t.Title)
	@Html.HiddenFor(t => t.Title)
	@Html.HiddenFor(t => t.Id)
	<fieldset>
		<table class="twelve columns">
			@if (ViewBag.ChangedState != null) { 
				<div data-alert class="alert-box">
				Pakeitimai išsaugoti duomenų bazėje
				<a href="" class="close">X</a>
				</div>
			}
			@foreach (Question question in Model.Questions) {
				<tr >
					@{ Html.RenderPartial("_ShowQuestionInTable", question); }
				</tr>
			}
		</table>
		<input type="submit" value="Pridėti klausimus" class="button"/>
	</fieldset>
}
