@using System.Web.Script.Serialization
@model Test
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("~/Scripts/jquery-ui-1.8.20.min.js")
@Scripts.Render("~/Content/javascripts/foundation.min.js")
@Scripts.Render("~/Content/javascripts/Paragraph/showTest.js")
<script type="text/javascript">var questions = @Html.Raw((new JavaScriptSerializer().Serialize(Model.Questions)))</script>
@{
	ViewBag.Title = @Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="progress"></div>
<div class="questionContainer">
@foreach (Question question in Model.Questions) {
	Html.RenderPartial("_ShowQuestionInTest", question);
}
</div>
<div class="row" id="results">
	<table width="970">
		<tbody id="resultTable">
		</tbody>
	</table>
	<input type="button" class="button twelve collumns" value="Bandyti dar karta" onClick="document.location.reload(true)">
</div>
